.badge {
    @apply .ml-2 .inline-block .rounded-sm .px-2 .py-0;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;

    &.tip {
        @apply .bg-green-dark !important;
        color: #fff;
    }

    &.warn {
        @apply .bg-yellow-dark !important;
    }

    &.error {
        @apply .bg-red-dark !important;
        color: #fff;
    }
}
