.home {
    padding-top: $nav-height;

    .hero {
        @apply text-center mx-auto;
        max-width: 960px;

        img {
            @apply max-w-xs;
        }

        .action-button {
            @apply inline-block bg-blue text-white p-4
        }
    }

    .features {
    @apply border-t px-2 mt-8 flex flex-wrap items-start content-between;

    .feature {
        @apply flex-grow;
        flex-basis: 30%;
        max-width: 30%;

        h2 {
            @apply border-b-0 pb-0;
        }
    }
}
}