.home {
    @apply .mx-auto;
    max-width: 960px;

    .hero {
        @apply .text-center .mx-auto;
        padding-top: 58px;

        img {
            @apply .my-4;
            max-height: 20rem;

            @screen smx {
                max-height: 6rem;
            }
        }

        .action-button {
            @apply .inline-block .bg-blue .text-white .px-8 .py-4 .rounded .text-lg .font-normal .border .border-blue-dark;
            transition: background-color 100ms ease;

            &:hover {
                @apply .no-underline .bg-blue-light .border-blue;
                transition: background-color 100ms ease;
            }
        }

        h1 {
            @apply .text-5xl .text-black;
        }

        .description {
            @apply .text-grey-darkest;
            font-size: 1.6rem;
        }
    }

    .features {
        @apply .border-t .py-5 .px-4 .mt-10;

        @screen md {
            @apply .flex .flex-wrap .items-start .justify-between .px-0;
            align-content: stretch;

            .feature {
                @apply .flex-grow ;
                flex-basis: 30%;
                max-width: 30%;
            }
        }

        .feature {
            h2 {
                @apply .border-b-0 .pb-0 .py-4 .font-normal;
            }

            p {
                @apply .text-grey-darker;
            }
        }
    }

    .footer {
        @apply .text-center .text-grey .text-sm .pb-8 .px-4;
    }
}
