.page {
    padding-left: $sidebar-width;
    padding-top: $nav-height;
}

.content {
    @apply mx-auto p-8;
    max-width: $content-width;
}

table td, table th {
    @apply .border;
    padding: 0.6rem 1rem !important;
}
