.nav {
    @apply .fixed .w-full .flex .bg-blue .font-sans .border-b .border-t .border-blue-darker .px-6 .text-sm .z-20;
    height: 56px;
    line-height: 54px;

    .sidebar-button {
        @apply .p-3;

        .icon {
            @apply .text-white .block h-6;
        }
    }

    .home-link {
        @apply .block .text-white .font-light .flex-no-shrink .mr-6;

        .logo {
            @apply .h-full .float-left;
        }

        .site-name {
            @apply .float-left .pl-2 .text-2xl;
        }
    }

    .search-box {
        @apply .relative .px-2 .w-full .text-right;

        input {
            transition: all 200ms ease-in;
            @apply .text-grey-lighter .w-2/3 .outline-none .px-4 .py-2 .rounded;
            background: rgba(0, 0, 0, 0.2);
            border: 1px solid rgba(0, 0, 0, 0.3);

            &:active, &:focus {
                @apply .w-full;
                transition: all 200ms ease-in;
                background: rgba(0, 0, 0, 0.3);
                border: 1px solid rgba(0, 0, 0, 0.7)
            }
        }

        .suggestions {
            @apply .bg-white .rounded .border .p-2 .text-left .w-full;
            margin-top: -0.3rem;
            list-style: none;

            & > li > a {
                @apply .p-2 .block;

                &:hover {
                    @apply .rounded .bg-grey-lighter .no-underline .text-blue-dark;

                    & > .header {
                        @apply .text-grey-dark;
                    }
                }

                & > .header {
                    @apply .text-grey .font-normal .pl-1;
                    font-size: 0.9em;
                }
            }
        }
    }

    .nav-links {
        .nav-link {
            @apply .text-grey-lighter .ml-6 .font-normal;

            &:hover {
                @apply .no-underline .border-b-2 .border-grey-lighter .pb-1 .leading-normal;
            }
        }

        @screen md {
            .nav-item > a:not(.external).router-link-active {
                @apply .border-b-2 .border-grey-lighter .pb-1 .leading-normal;

                &:hover {
                    @apply .no-underline;
                }
            }
        }
    }
}
