body {
    @apply .text-grey-darkest .font-sans;
}

a {
    @apply .text-blue-light .no-underline;
    font-weight: 500;
    &:hover {
        @apply .underline;
    }

    &.external:hover {
        @apply .no-underline;
    }
}

kbd {
    @apply .border .border-grey-lighter .bg-grey-lightest;
}

ul, ol {
    @apply .pl-8 .my-2;
}

strong {
    @apply .font-bold;
}

a.header-anchor {
    @apply .invisible .float-left;
    font-size: .85em;
    width: .87em;
    margin-left: -0.87em;
    padding-right: 0.23em;
    margin-top: 0.125em;
}

.content:not(.custom) {
    & > h1, h2, h3, h4, h5, h6 {
        margin-top: calc(.5rem - 56px);
        padding-top: calc(56px + 1rem);

        &:first-child {
            @apply .my-1 .pt-0;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    @apply .mb-4 .font-semibold;

    &:hover .header-anchor {
        @apply .visible;

        @screen smx {
            margin-left: 0 !important;
        }
    }
}

h1 {
    @apply .text-4xl;
}

h2 {
    @apply .pb-2 .border-b;
}

p {
    @apply .my-4;
}

code, kbd, .line-number {
  @apply font-mono;
}

p, ul, ol {
    line-height: 1.7;
}

hr {
    @apply border-t
}

table {
    @apply block my-4 border-collapse;
    overflow-x: auto;

    tr {
        @apply border-t;

        &:nth-child(2n) {
            @apply bg-grey-lightest;
        }
    }

    th, td {
        @apply border py-2 px-4;
    }
}
